<!DOCTYPE html>
<html lang="en">
    <head>
        
    <title>mi primera web</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="estilos.css">-->
    <link rel="shortcut icon"type="image/" href="imagenes/imagen0.jpg">
    <title>PRIMERA PAGINA WEB </title>
    <link rel="shortcute icon" type="image/x-icon" href="imagenes/favicon.ico">
    <meta name="description" content="intento en intento"/>
    <meta name="keyword" content= "desarrollo pagina web, programar, web"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/> 
    
</style>
<!--<script src="la ruta de mi archivo aqui"-->

</head>
<body>
    <div id="contenedor">

<!--creando el titular con forma o estructura, logotipo y menu-->
<header>
    <img src="imagenes/aircraft.png" alt="" class="animacion"/>
</header>
<section class="wrapper">
<section class="main">
    <article>
    <!--h1 se utiliza para titulares-->
    <h1>¡VALIJA LISTA!</h1>
    <label for="appt">Hora:</label>
    <input type="time" id="appt" name="appt">
    <label for="appt">dia:</label>
    <input type="time" id="appt" name="appt">
    <h2>Redes Sociales </h2>
    <h3>Seguinos</h3>
    <a href="https://es-la.facebook.com/"><input type="button" value="Facebook"></a> 
    <a href="https://twitter.com/explore"><input type="button" value="twitter"></a>
    <a href="https://www.instagram.com/?hl=es-la"><input type="button" value="Instagram"></a>
    <a href="http://inscripciones.html"><input type="button" value="Inscripciones"></a>
    
    <hr>
    <h2><i>QUE TIPO DE DESCANSO ANDAS BUSCANDO</i></h2>
    <h3>| Playa | Rio | 
    Montaña | Desierto |
    Sabana | Jungla |
    Safari | Ciudad |
    Campo | Lagos | Crucero |</h3><br>
    <strong>Te ofrecemos destinos <i>Dentro y Fuera</i> del pais segun tu interes.</strong>

    <p>¿Que tener para viajar en auto?<br>
        Documentación obligatoria para circular en moto o en auto
        DNI.
        Licencia Nacional de Conducir.
        Cédula verde o cédula azul.
        Comprobante de seguro en vigencia.
        Comprobante de pago del impuesto a la radicación del vehículo.
        RTO o VTV en las provincias que sea obligatoria.
        Patentes legibles, normalizadas y sin aditamentos..<br><br>
        ¿Que hay que tener en cuenta para viajar en avion?<br>
Se considera identificación oficial los siguientes documentos siempre y cuando estén vigentes y cuenten con fotografía legible y no muestren adulteraciones:
Pasaporte.
Licencia de conducir.
Cedula profesional.
Cartilla del servicio militar.
Tarjeta única de identidad militar.
Credencial de elector del IFE.</p>
<p>
    <hr>
    <blockquote> Viajar, como lo escribe George Santayana en su ensayo <span> Viajar La filosofía del viajero <span>, es aquello que distingue a los animales de los demás seres vivos, dice que "las raíces de los vegetales (que dice Aristóteles son sus bocas) los sujetan ineluctablemente al suelo, y así quedan condenados, como sanguijuelas, a chupar cualquier sustento que fluya hasta el preciso lugar en que están inmóviles. Acaso haya muy cerca tierra más rica, o rincón más resguardado o abierto al sol,
     pero no pueden emigrar, y ni siquiera poseen ojos o imaginación con los que ver el placentero lugar vecino que la suerte les ha negado.</blockquote>
        <cite>Piru</cite>
</p>
    </article>
</section>
<hr>
<aside>
    <title>iconos</title>
    <link rel="stylesheet" href="iconos/style.css">
    <h3><span class="icon-flopy"></span>HOTELES</h3>
    
    
</aside>

<br>
<a href="#">Te brindamos opciones de una y hasta cinco estrellas!!</a>
</section>
<br>

<!--agregamos una etiqueta <p></p> para los parrafos-->
    <img src="imagenes/habitacion.jpg" alt="logotipo de piru"title="logo inconcluso"width="1000"height="500"/>
<br/><br/>
<!--ruta absoluta-->
<a href="imagenes/loguear.png">Ir a la imagen</a>
<a target="_blank" href="https://www.bbc.com/mundo/noticias-47524843">ir a google</a>
<!--ruta relativa es cuando voy a mi carpeta y extraigo una imagen por ejemplo-->
<br>


<h4>
    <blockquote>La industria hotelera con su desbordante crecimiento a nivel global impone el análisis minucioso y profundo de los sitios relacionados con los turistas, como por ejemplo el cuarto de hotel. El estudio del confort es básico para el éxito del emprendimiento.

El trabajo tiene la finalidad de describir y comparar las variables que influyen en el confort de una habitación de hotel dependiendo del tipo de necesidad: placer o negocios. 

Independientemente del concepto que cada persona pueda tener del confort, ya que éste depende del estilo de vida de cada individuo, es importante homologar los elementos que lo componen con el fin de garantizar un mínimo estándar en una habitación de hotel. 

Un buen plan de negocios con conocimiento del mercado donde se encuentra el hotel, daría la fórmula más ajustada, a la hora de diseñar las distintas habitaciones otorgándole mayores posibilidades de éxito.</blockquote>
</h4>
<ol>
    <!--lista desordenada-->
    <li><a href="Temas relacionados">Temas relacionados</a></li>
    <li><a href="Informacion">información</a></li>
    <li><a href="Noticias">Noticias</a></li>
    <li><a href="Clima">Clima</a></li>
</ol>

    <br>
    <p>"AEROPUERTOS DEL MUNDO"</p><br>
    <img src="imagenes/aeropuerto.jpg" alt="logotipo de piru"title="logo inconcluso"width="1000"height="500"/>
    <br>
    <a href="Imagen">Imagen</a>

<br>

    
</ol>

<!--lista ordenada-->
<ol>
    <li><a href="Historia">Historias de viajeros</a></li>
    <li><a href="Hoteles">Hoteles</a></li>
    <li><a href="Alquiler">Alquiler de auto</a></li>
    <li><a href="aeropuerto">Aeropuertos del mundo</a></li> 
</ol>
<br>

<div>
    <p>NO TE OLVIDES!!<br><br> Cuando encaramos un viaje en avion, auto, micro, barco, hay cosas que no nos tenemos que olvidar, te daremos un 
     par de tips<br>
     lleva un libro, eso aportara que el viaje no sea tan tedioso, musica, fundamentral, te despeja y levanta el animo si el viaje emprendido es muy largo, golosinas(un mimo de dulzura)

    </p>
</div>

<p>Musica para ir aclimatizandonos en el viaje que vamos a emprender juntos!!!</p>
    <embed src="videos/la ley.mp4" width="1000" height="500">
        <p>NUESTROS 11 MEJORES CONSEJOS DE VIAJE<br><br>
            Por fin tienes unos días libres y ha llegado el momento que estabas deseando: irte de viaje.<br>
            
            Seguramente ya tendrás decidido el destino, <br>-si no es así, ya estás tardando en entrar en Skyscanner y buscarlo-<br> 😄  pero de cualquier forma, te dejamos nuestros mejores consejos y tips para viajar que a nosotros nos han funcionado muy bien.
            <br><br>
            <br><i>Empezamos…</i>  😉<br><br>
            
            UNA VEZ SEPAS EL DESTINO ELEGIDO DE TU VIAJE<br>
            Hazte un planing día a día de lo que quieres ver, agrupado por zonas para así visitar lo más posible.<br><br>
            
            SI VIAJAS A UN PAÍS DONDE REQUIERAS VISADO Y/O ALGÚN TIPO DE VACUNA<br>
            Pide tu visado con bastante antelación, por si surge algún problema y no te lo dan en el momento o tienes que volver a la embajada o consulado.
            
            Lo mismo con las vacunas, por si acaso tuvieses alguna reacción o efecto secundario y no vaya a ser que luego no puedas viajar. 😏<br>
            
            <br><br>REVISA TU PASAPORTE O CARNET DE IDENTIDAD<br>
            Lo sabemos, te parecerá obvio, pero revisa que no esté caducado y ten cuidado ya que algunos países exigen que el viaje se haga cuando el pasaporte tenga al menos 6 meses de validez antes de la fecha de caducidad.<br>
            
            <br><br>MIRA LA PREVISIÓN DEL TIEMPO<br>
            También te puede parecer un tip para tu viaje muy simple, pero pensar que, por ser verano, no va a hacer frio o dar por hecho, por ejemplo, que en Londres siempre llueve… no sea que luego tengas que ir corriendo a comprar ropa por el hecho de no haber mirado antes que tiempo va a hacer en el destino. 😓<br>
            
            <br><br>LLAMA O MANDA UN EMAIL AL ALOJAMIENTO DONDE TE VAYAS A QUEDAR<br>
            Hoy en día todo se hace online, a veces con semanas o meses de antelación y desgraciadamente hay algunas webs de viajes que no son fiables del todo, así que, para evitar disgustos y enfados posteriores, contacta con el alojamiento reservado días antes de viajar.<br>
            
            No te fíes de que el email que te han mandado te diga que está todo confirmado. Puede surgir cualquier problema con la reserva, el alojamiento la ha cancelado y a ti no te lo han comunicado.
            
            <br><br>SI NECESITAS ALGÚN TIPO DE ASISTENCIA EN EL AEROPUERTO O EN EL VUELO<br>
            Debes de contactar con la compañía aérea al menos 48 horas antes de la salida del avión, sea por si necesitas algún tipo de comida especial, movilidad reducida, etc.<br>
            
            <br><br>CONSEJOS PARA TU MALETA DE VIAJE Y SI TIENES QUE FACTURARLA<br>
            Para evitar no quedarte sin nada de ropa si te pierden la maleta y viajas con alguien más o llevas también equipaje de mano, es una buena idea que repartas la ropa entre todas las maletas, ya que así siempre tendrás algo que ponerte.<br>
            
            <br><br>PARA EVITAR QUE LA COMPAÑÍA AÉREA PUEDA PERDER LA MALETA<br>
            Te dejamos nuestro consejo para viajar en avión que por simple que parezca, nos ha funcionado.
            
            Cada maleta que facturamos la envolvemos en plástico -hasta aquí todo bien, ¿no?- y ponemos alrededor una etiqueta que ponga frágil, a ser posible en color rojo o un color fuerte. Al ser tan llamativa es más difícil que la pierdan de vista y al poner frágil «suelen» tratarla mejor que a las demás. 😇
            
            No sabemos si realmente es por eso o no, -daríamos lo que fuese por estar dentro y ver como tratan las maletas-, pero desde que lo hacemos, todas nuestras maletas han llegado siempre al destino sin problemas.
            <br>
            <br><br>CAMBIAR MONEDA EXTRANJERA<br>
            Como consejo para cambiar dinero cuando viajas a un país extranjero, te diremos que nunca lo hagas en el aeropuerto. El cambio es muy muy malo.
            
            Como norma general, el mejor sitio para cambiar el dinero es en el destino y en las oficinas de cambio de la ciudad.<br><br>
            
            <br>DEJAR LA DOCUMENTACIÓN IMPORTANTE EN EL ALOJAMIENTO<br>
            Lo mejor es llevarte contigo fotocopias de todos los documentos y dejar los originales en un sitio seguro, -caja fuerte, bien escondido en alguna maleta, etc.-, para así evitar problemas y visitas inesperadas al consulado o embajada.<br>
            <br>
            CONTRATAR UN SEGURO DE VIAJE<br>
            Creemos que es el mejor consejo para un viaje que te podemos dar.<br>
            
            Cuando nos vamos de viaje pensamos en disfrutar y vivir nuevas experiencias y no en que nos pueda pasar algo, pero para que tengas bien cubiertas las espaldas, 😊  te recomendamos que siempre contrates un seguro de viaje.
            
            Hay muchas compañías que ofrecen seguros de viajes y muchos tipos de seguros con distintas coberturas. En nuestra opinión, las más importantes a tener en cuenta son: la sanitaria, contacto 24 horas en tu idioma y servicio de cancelación de tu viaje o reclamación en caso de cancelación del vuelo, pérdida de equipaje, robo, etc.
            </p><br>
             <p>TE DEJAMOS UN MAPA PARA QUE PUEDAS ELEGIR EL DESTINO!!</p><br><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6247514.228980208!2d-8.201612523595799!3d40.13016327602396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc42e3783261bc8b%3A0xa6ec2c940768a3ec!2zRXNwYcOxYQ!5e0!3m2!1ses-419!2sar!4v1590868123206!5m2!1ses-419!2sar" width="1000" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <aside><i>¿Ya tenes la valija lista?</i></aside>
        <br>
<!--creacion de tablas-->

<ul>
    <li>PASAPORTE</li>
    <li class="relative">BOUCHER</li>
    <li class="absolute">CASH</li>
    <li class="fixed">ILUSION</li>
</ul>
         <hr>
        <div id= "head"></div>
        <br>
        <p>¡¡¡TIPS PARA QUE HAGAS EXCELENTES VIDEOS EN TUS VACACIONES!!! | NO TE PIERDAS ESTE VIDEO  |</p>
            <iframe width="1000" height="500" src="https://www.youtube.com/embed/j2cEukWBHzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
             <br>
             <div id= "head">LORENZO GONZALEZ TIENE PARA TI INCREIBLES CONSEJOS</div><br>
            <p>¡¡¡TIPS PARA QUE HAGAS EXCELENTES FOTOS EN TUS VACACIONES!!! | NO TE PIERDAS ESTE VIDEO  |</p>
            <iframe width="1000" height="500" src="https://www.youtube.com/embed/zkZ1Bk7r2nk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br><br>
            <div id= "head">DAVID LOPEZ TIENE PARA TI INCREIBLES CONSEJOS</div><br>
        </div>
    <hr>
    
        
        
        
        <br>
            <h2>#1</h2>
        </div>
    <br>
    <div id= "head">crear algo</div>
            <br>
            <h2>#3</h2>
        </div>
        <br>

<tr>
    <p>Tambien en HOY</p>
    <hr/>


  <table>
    <td><P>El auto del futuro</P><img src="imagenes/auto.jpg" alt="logotipo de piru"title="logo inconcluso"width="300"height="200"><p>HVUNDAY I20 1.5 dCI</p></td>
    <td><p>Keyless Rental permite abrir, cerrar, localizar y ver el combustible del vehículo con la app desde su smartphone u ordenador en cuestión de segundos</p></td>
    
    <td><p>PUBLICIDAD</p><img src="imagenes/publicidad.jpg" alt="logotipo de piru"title="logo inconcluso"width="300"height="200"><p>publicite aqui su empresa</p></td>
    
</tr>
    <tr>
    
    <td><p>Facebook ha aprovechado el aumento en la cantidad de videollamadas que realiza la gente en cuarentena para presentar Messenger Rooms su servicio de videollamadas grupales con el que competir con aplicaciones como Zoom, Houseparty o Skype.</p></td>
    <td><p>Noticias del Mundo</p><img src="imagenes/mundo.jpg" alt="logotipo de piru"title="logo inconcluso"width="300"height="200"><p>La tecnologia vista como uno de los mayores eventos de la humanidad. </p></td>
    <td><p>Mercado Libre</p><img src="imagenes/ml.jpg" alt="logotipo de piru"title="logo inconcluso"width="300"height="200"><p> se posiciona en el mercado con la billetera virtual</p></td>
</tr>
    </table>

    <hr/>
<!--evitar poner el correo asi por los spam, esto va con lo de abajo-->
<!--<a href="mailto:garaypaolah@gmail.com" title= "Enviar correo a Piru">Enviar Email</a>-->
<!--formularios-->
<!--<form action="datos.php" method="POST">esto esta comentado porque se puede usar tambien-->
    <!--<input type="text" value="escribe tu nombre"> tambien se puede poner como el de abajo-->
    
    <from>
        <table>
            
    <td><label for="nombre">Nombre:</label>
    <input type="text" placeholder="escribe tu nombre" name="nombre" id="nombre">
    <br><br>
    <label for="contraseña">Contraseña:</label>
    <input type="password" placeholder="escribe tu contraseña" name="contraseña" id="contraseña">
    <br><br>
    <label for="email">Email:</label>
    <input type="email" placeholder="escribe tu email" name="email" id="email">
    <br><br>
    <label for="telefono">Telefono:</label>
    <input type="telefono" placeholder="escribe tu telefono" name="telefono" id="telefono">
    <br><br>
    <input type="checkbox"  name="" id=""> Hombre
    <input type="checkbox"  name="" id=""> Mujer
    <br><br>
<!--botones-->
    <select name="" id="">
    
        <option value="Argentina">Argentina</option>
        <option value="Brasil">Brasil</option>
        <option value="Mexico">Mexico</option>
        <option value="Chile">Chile</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Colombia">Colombia</option>
        <option value="Peru">Peru</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Panama">Panama</option> 
        <option value="Otro">Otro</option>
        
        
    </select>
        <br><br>
        
        <input type="submit">
        <input type="botton" value="Enviar">
        
        <br><br>
        <!--tabla de coloress-->
<input type="color" name="" id="">
<input type="range" name="" id=""></td>
<td><img src="imagenes/formulario.jpg" alt="logotipo de piru"title="logo inconcluso"width="700"height="500"></td>
</table>
</form>



<script src="js/app.js"></script>


<ul>
    <li><a href="">Interes general</a></li>
    <li><a href="">El mundo segun Bill Gate</a></li>
    <li><a href="">Apple</a></li>
</ul> 
<hr>
<footer>
    <p>AUSPICIAN ESTA PAGINA LAS SIGUIENTES EMPRESAS</p>
</footer>
<hr>
<table>
    <td><img src="imagenes/banco.png" alt="logotipo de piru"title="logo inconcluso"width="100"height="100"></td>
    <td><img src="imagenes/ml.jpg" alt="logotipo de piru"title="logo inconcluso"width="100"height="100"></td>
    <td><img src="imagenes/apple.png" alt="logotipo de piru"title="logo inconcluso"width="100"height="100"></td>
    <td><img src="imagenes/google.png" alt="logotipo de piru"title="logo inconcluso"width="200"height="100"></td>
    <td><img src="imagenes/empresasvarias.png" alt="logotipo de piru"title="logo inconcluso"width="200"height="100"></td>
    <td><img src="imagenes/federex.png" alt="logotipo de piru"title="logo inconcluso"width="200"height="100"></td>
    <td><img src="imagenes/youtuve.png" alt="logotipo de piru"title="logo inconcluso"width="200"height="100"></td>
    
</table>
<hr>
<p>Política de cookies  |
    Política de privacidad  |
    Venta de contenidos  |
    Términos y condiciones de uso  |
    Publicidad  |
    Certificado por OJD  |
    Contacto</p>

    
<hr>
<p>Copyright 2020 SA PIRU PAPACHO | Todos los derechos reservados</p>



</div>
</body>





<!--<script>
(function(){
    var contador= 0;

    var saludo = function(){};
    contador++;
    console.log(contador);
    if(contador === 5){
        clearInterval(intervalID)
    }
    var intervalo = setTimeout(saludo,1000);

var fecha= new Date();
document.write(fecha);

console.log(fecha.getHours());
console.log(fecha.getMinutes());
console.log(fecha.getSeconds());

console.log(fecha.getDay());
console.log(fecha.getDate());
console.log(fecha.getMonth());
console.log(fecha.getFullYear());
};


</script>-->
</html>





